@font-face {
    font-family: "comfortaa-regular";
    src: url("../fonts/comfortaa/comfortaa-variable-font-wght.eot"); /* IE9 Compat Modes */
    src: url("../fonts/comfortaa/comfortaa-variable-font-wght.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/comfortaa/comfortaa-variable-font-wght.otf") format("opentype"), /* Open Type Font */
      url("../fonts/comfortaa/comfortaa-variable-font-wght.svg") format("svg"), /* Legacy iOS */
      url("../fonts/comfortaa/comfortaa-variable-font-wght.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/comfortaa/comfortaa-variable-font-wght.woff") format("woff"), /* Modern Browsers */
      url("../fonts/comfortaa/comfortaa-variable-font-wght.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

/* title */
header h1 {
    font-family: 'comfortaa-regular';
    color: rgb(255, 255, 255);
}

body {
  background-color: rgb(51, 51, 51);
  font-family: 'comfortaa-regular';
  text-align: center;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h4 {
  color: rgb(247, 147, 147);
  vertical-align: middle;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

footer {
  font-size: small;
  margin-top: 3em;
}
/* 1 facebook #3f5d9a */
/* 2 github #24292e */
/* 3 signal #3a76f0 */
/* 4 steam #171a21 */
/* 5 twitter #1da1f2 */
/* 6 tumblr #001935 */
/* 7 flickr #4400df left , #ff0076 right */
/* 8 linkedin #0073b0 */
/* 9 skype #0078ca */
